body{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    display: grid;
}
H1{
   font-family: Arial, Helvetica, sans-serif; 
}
h2{
   font-family: Arial, Helvetica, sans-serif; 
   color: blueviolet;
}
section{

}
div{

    border: 20px;   


}

input[type="button"] {
        margin-top: 20px;
        padding: 10px
        width: 40;
}

input{
    width: 400px; 
    padding: 10px; 
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none; 
    display: block;
}
button{
  padding: 15px; 
  margin-bottom: 5px;
  font-size: 16px; 
  cursor: pointer; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  width: 20%;
  box-sizing: flex-box;
}

select{
    width: 550px; 
    padding: 10px; 
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none; 
    display: block;
}

