body{
    background-color: rgb(51, 58, 102);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1,h3{
    margin-top: 0px;
    background-color: rgb(26, 111, 161);
    padding: 5px;
    text-align: center;
}
