body {
background-color: khaki;
}
h1{
    text-align: center;
    color: rgb(89, 0, 255);
    font-size:xx-large;
    margin: 0px;

    
}
button {
  border-radius: 10px; 
  color: rgb(255, 60, 0);
  padding: 10px;
  font-weight: bolder;
  background-color: rgb(206, 237, 241);
}
h2 {
color: darkblue;
}
input
{
  margin:10px;
  padding:5px;
}
li {
  font-weight: bolder;
  color: blue;
}