body{
    background-color: #ebe3e3;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

ul{
    padding: 20px;
    list-style-type: none;
}

input{
    padding: 8px;
}

.container{
    display: flex;
    background-color: blueviolet;
    border-radius: 25px;
}

.alumnos{
    height: 500px;
    width: 650px;
}

.botones{
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.botones:hover{
    background-color: rgb(146, 74, 214);
    transition: all .3s; 
}

.botonBuscar{
    padding: 8px;
    cursor: pointer;
    background-color: #999;
}

.busqueda{
    width: 650px;
}


