body{
    background-color: rgb(110, 110, 139);
}
h1{
    color: darkblue;
    background-color: aliceblue;
    text-align:  center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    background-color: rgba(0, 0, 0, 0.434);
    color: white;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div
{
    font-size: 22px;
    font-family: monospace;
    text-align: center;
}